#exportPattern("^[[:alpha:]]+")

export("dbr", "dbr.control", "coda_wrapper")
S3method("summary", "dbr")
S3method("predict", "dbr")
S3method("print", "dbr")
S3method("coef", "dbr")

importFrom("MfUSampler", "MfU.Sample.Run", "MfU.Control")
importFrom("methods", "new")
importFrom("graphics", "plot")
importFrom(
  "stats"
  , "rbeta", "delete.response", "model.frame", "model.matrix"
  , "pbeta", ".getXlevels", "model.response", "na.fail", "predict"
  , "quantile")
importFrom("coda", "mcmc")

